<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Cadastro de veículos:</h3>
                    <mdb-form-control>
                        <input mdbInput type="text" id="login" class="form-control" [(ngModel)]="carro.nome">
                        <label mdbLabel class="form-label" for="login">Nome</label>
                    </mdb-form-control>
                    <mdb-form-control>
                        <input mdbInput type="text" id="login" class="form-control" [(ngModel)]="carro.modelo">
                        <label mdbLabel class="form-label" for="login">Modelo</label>
                    </mdb-form-control> 
                    <mdb-form-control>
                        <input mdbInput type="text" id="login" class="form-control" [(ngModel)]="carro.ano">
                        <label mdbLabel class="form-label" for="login">Ano</label>
                    </mdb-form-control>
                    <div>
                        @if (carro.marca == null) {

                            <button type="button" class="btn btn-primary" mdbRipple (click)="buscarMarcas()">Consultar Marcas</button>
                        }@else {

                           <div class="row">

                            <div class="col-lg-8">

                                <p class="text-primary alert-primary">Marca:{{carro.marca.nome}}</p>

                            </div>

                            <div class="col-lg-4">
                                <button type="button" class="btn btn-warning" mdbRipple (click)="buscarMarcas()">Alterar Marca</button>
                            </div>
                           </div>
                        }
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary" mdbRipple (click)="buscarProprietarios()">Procurar Proprietário</button>
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cpf</th>
                                    <th>Data de Nascimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (proprietarios of carro.proprietarios; track $index) {
                                <tr>
                                    <td>{{proprietarios.nome}}</td>
                                    <td>{{proprietarios.cpf}}</td>
                                    <td>{{proprietarios.data}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" mdbRipple (click)="desvincularProprietario(proprietarios)">Deletar</button>
                                    </td>
                                </tr>
                                }   
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
        </div>
    </div>
</div>

<ng-template #modalMarca>

    <div class="modal-header">

        <h3 class="modal-title" id="modalLabel">Marca</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>

    <div class="modal-body">

        

    </div>

</ng-template>
