<nav>
  <div class="sideNavBtns">
    <div class="sideNavMainBtns">
      <a *ngIf="loginService.hasPermission('admin')" href="admin/carros" class="sideNavBtn">
        <i class="fas fa-car"></i>
        <p>Carro</p>
      </a>
      <a *ngIf="loginService.hasPermission('admin')" href="admin/marca" class="sideNavBtn">
        <i class="fas fa-tag"></i>
        <p>Marca</p> 
      </a>
      <a *ngIf="loginService.hasPermission('admin')" href="admin/proprietario" class="sideNavBtn">
        <i class="fas fa-user"></i>
        <p>Proprietário</p>
      </a>
      <a *ngIf="loginService.hasPermission('admin')" href="admin/manutencao" class="sideNavBtn">
        <i class="fas fa-cog"></i>
        <p>Manutenção</p> 
      </a>
      <a *ngIf="loginService.hasPermission('admin')" href="admin/log" class="sideNavBtn">
        <i class="fas fa-clipboard-list"></i>
        <p>Log</p>
      </a>
    </div>
    <div class="sideNavFooter">
      <a href="login" class="sideNavBtn">
        <i class="fas fa-sign-in-alt"></i>
        <p>Sair</p>
      </a>
    </div>
  </div>
</nav>
