<nav>
  <div class="sideNavBtns">
    <div class="sideNavMainBtns">
      <a *ngIf="loginService.hasPermission('admin')" href="#" class="sideNavBtn">
        <i class="fas fa-car"></i>
        <p>Carro</p>
      </a>
      <a href="#" class="sideNavBtn">
        <i class="fas fa-tag"></i>
        <p>Marca</p> 
      </a>
      <a href="admin/proprietario" class="sideNavBtn">
        <i class="fas fa-user"></i>
        <p>Proprietário</p>
      </a>
      <a href="#" class="sideNavBtn">
        <i class="fas fa-cog"></i>
        <p>Manutenção</p> 
      </a>
      <a href="admin/venda" class="sideNavBtn">
        <i class="fas fa-shopping-cart"></i>
        <p>Venda</p>
      </a>
      <a href="admin/log" class="sideNavBtn">
        <i class="fas fa-clipboard-list"></i>
        <p>Log Auditoria</p>
      </a>
    </div>
    <div class="sideNavFooter">
      <a href="login" class="sideNavBtn">
        <i class="fas fa-sign-in-alt"></i>
        <p>Sair</p>
      </a>
    </div>
  </div>
</nav>
