<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-header">
                        <button type="button" class="btn btn-primary" mdbRipple (click)="save()">Novo</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Modelo</th>
                                <th>Ano</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (carros of lista; track $index) {
                            <tr>
                                <td>{{carros.nome}}</td>
                                <td>{{carros.modelo}}</td>
                                <td>{{carros.ano}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" mdbRipple (click)="update(carros)">Editar</button>
                                    <button type="button" class="btn btn-danger" mdbRipple (click)="delete(carros)">Deletar</button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #ModalCarrodetalhe>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetalhe($event)"></app-carrosdetails>
    </div>
</ng-template>
