@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

body {
    background-color: #a3a3a3;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    width: 50%;
    height: 70%;
    background-color: #292929;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section {
    width: 50%;
    background-color: #292929;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.illustration {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.illustration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 10px;
}

.form-section {
    width: 50%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.icon-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form-input {
    width: 100%; 
    height: 40px; 
    padding: 8px; 
    border: none;
    font-size: 14px; 
    background-color: white;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.form-control label {
    position: absolute;
    top: 50%;
    left: 8px; 
    color: #a3a3a3;
    padding: 0 4px; 
    pointer-events: none;
    transition: all 0.2s ease-out;
    transform: translateY(-50%);
    font-size: 14px; 
    text-decoration: none;
    outline: none;
}

.form-input:focus + label,
.form-input:not(:placeholder-shown) + label {
    top: -3px;
    left: 10px;
    font-size: 12px;
    color: #292929;
    background: white;
    padding: 0 5px;
}

.btn {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #292929;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #444444;
}                       